# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual Environment
.venv/
venv/

# Environment Variables
.env

# VS Code
.vscode/

# OS Files
.DS_Store
Thumbs.db

# Project runtime files
session.json
outputs/

# Test & cache
.pytest_cache/
.coverage

*.txt